h1 {
  color: blue;
}

#test p{ font-size:30px;
}

#box1{
  font-family: Arial, Helvetica;
  font-size: 10.0px;
  font-weight: bold;
  height: 50px;
}




#box2{
  background-color: blanchedalmond;
  border-top: 4px;
  border-left: 10px;
  border-style: double;
  border-radius: 15px;
  border-color: red;
}

#box3 {

background: url('./mav.jpg') no-repeat center top/cover;
height: 200px;
width: 300px;
}


.box4 {
  background: blanchedalmond;
  padding: 10px 15px;
  margin:auto;
  border: 1px solid blue;
  box-sizing:border-box;
  float: center;
  width: 95%;
  }

.box5 {
  background: blanchedalmond;
  padding: 5px 10px;
  margin:auto;
  border: 1px solid blue;
  box-sizing:border-box;
  float: left;
  width: 30%;
  }
.clr { clear: both;}


  .box5 p {
    text-align: center;
  }

  .box6 {
    background: blanchedalmond;
    padding: 5px 10px;
    margin:auto;
    border: 1px solid blue;
    box-sizing:border-box;
    float: top;
    width: 40%;
    }

    .box7 {
      background: blanchedalmond;
      padding: 5px 10px;
      margin:auto;
      border: 1px solid blue;
      box-sizing:border-box;
      float: right;
      width: 30%;
      }
